<section class="contenedorPrincipal contenedorNota">
    <form action="/notas/crearnota" method="POST">
        <h2 class="txt-grande titulo">Crear nota</h2>
        <br>
        <input type="text" name="title" placeholder="Introducir título" autofocus class="input-nota">
        <br><hr>
        <textarea name="nota" rows="5" placeholder="Introducir nota" class="input-nota txta-nota"></textarea>
        <br><hr><br>
        <button class="btn">
            Guardar
        </button>
    </form>
</section>
