<section class="contenedorPrincipal">
    <div class="div-inicio">
        <img class="img-inicio" src="https://minnesota.cbslocal.com/wp-content/uploads/sites/15909630/2016/03/thinkstockphotos-483322799.jpg?w=1500">
        <div class="div-txt">
            <p class="txt-grande">Bienvenido a TusNotitas <br> ¡Crea tu primera nota! <br> </p>
            <a class="btn-inicio" href="/entrar">+</a>
        </div>
    </div>
</section>