<section class="contenedorPrincipal contenedorNota contenedorSesion">
    <form action="/entrar" method="POST">
        <h2 class="txt-grande titulo">Iniciar sesión</h2>
        <br>
        <p class="txt-chico">Por favor, ingrese sus datos:</p>
        <input type="text" name="nombreusu" placeholder="Nombre de usuario" class="input-cuenta">
        <br><br>
        <input type="password" name="password" placeholder="Contraseña" class="input-cuenta">
        <br><br>
        <button class="btn">Entrar</button>
        <br><br><br><br><br><br>
    </form>
</section>