<section class="contenedorPrincipal contenedorNota contenedorSesion">
    <form action="/registrarse" method="POST">
        <h2 class="txt-grande titulo">Crear cuenta</h2>
        <br>
        <p class="txt-chico">Por favor, ingrese sus datos:</p>
        <input name="nombrecom" type="text" placeholder="Nombre completo" class="input-cuenta">
        <br><br>
        <input name="nombreusu" type="text" placeholder="Nombre de usuario" class="input-cuenta">
        <br><br>
        <input name="password" type="password" placeholder="Contraseña" class="input-cuenta">
        <br><br>
        <button class="btn">Crear cuenta</button>
        <br><br><br>
    </form>
</section>